.btnMain{
  background-color: $mainPink;
  color: $whiteColor;
  font-size: 1rem;
  border-radius: 20px;
  margin: 5%;
  width: 60%;
  padding: 5px;
}
.btnMain:hover{
  border: 1px solid $mainPink;
  background-color: $lightGray;
  color: $mainPink;
}
.btnSec{
  border: 1px solid $mainPink;
  background-color: inherit;
  color: $mainPink;
  font-size: 1rem;
  border-radius: 20px;
  margin: 5%;
  width: 60%;
  padding: 5px;
}
.btnSec:hover{
  background-color: $mainPink;
  color: $whiteColor;
}
.btnGeneral{
  background-color: $mainPink;
  color: $whiteColor;
  font-size: $fontTwo;
  border-radius: 10px;
  width: 100%;
  padding: 5px 20px;
  margin-top: 10px;
  @media screen and (max-width:$screenMedium){
    width: 120%;
  }
  @media screen and (max-width:$screenIpad){
    width: 130%;
  }
  @media screen and (max-width:$screenMobile){
    width: 100%;
  }
}
.btnGeneral:hover{
  border: 1px solid $mainPink;
  background-color: $lightGray;
  color: $mainPink;
}
.btnSumma{
  background-color: $mainPink;
  color: $whiteColor;
  font-size: $fontTwo;
  border-radius: 20px;
  margin: $five;
  width: $eighty;
  margin-left: $ten;
  @media screen and (max-width:$screenIpad){
    font-size: $fontTwo;
    width: $eighty;
  }
}
.btnBasic{
  width: 50px;
  vertical-align: middle !important;
}
.btnBasic:hover{
  background-color: inherit !important;
  border: none !important;
}
.btnBasic:active{
  background-color: inherit !important;
  border: none !important;
}
.btnTC{
  display: flex;
  justify-content: flex-end;
}
.btnChild{
  display: block;
  align-self: flex-end;
  @media screen and (max-width:$screenMedium){
    align-self: center !important;
  }  
}
.btnLogoPas:hover{
  background-color: inherit !important;
  border: inherit !important;
}
.btnLogoPas:active{
  background-color: inherit !important;
  border: inherit !important;
}
.btn-secondary {
  background-color: inherit !important; 
  border: none !important; 
}
.btn-secondary:active {
  background-color: inherit !important; 
  border: none !important; 
}
.btnClose{
  color: $whiteColor;
  background-color: inherit !important;
  border: none !important;
  justify-content: flex-end !important;
  font-weight: $fontWeight1;
}
.btnIcon{
  border: inherit;
  background-color: inherit;
  color: $mainPink;
  font-size: $fontTwo;
}
.btnIcon:hover{
  color:$blackColor;
}
.btnTrash{
  font-size: $fontThree !important;
  padding: 10px;
}
.btnGeneralSec{
  border: 1px solid $mainPink !important;
  background-color: inherit;
  color: $mainPink;
  font-size: $fontTwo;
  border-radius: 10px;
  width: 100%;
  padding: 5px 20px;
  margin-top: 10px;
}
.btnGeneralSec:hover{
  background-color: $mainPink !important;
  color: $whiteColor !important;
}
.btnTarjeta{
  margin-left: 2%;
  @media screen and (max-width:$screenMobile){
    margin-left: 5%;
  }
}