/*---------- GENERALES --------*/
.espacio{padding: 20px;}
.espacio2{padding: 80px;}
.alfa_footer {display: none;}
.barralateral {background-color: $lightGray;}
.tab-content {padding-bottom: $fifteen !important;}
.title{
  color: $mainPink;
  font-weight: $fontWeight5;
  font-size: $fontFour;
  @media screen and (max-width:$screenMobile){
    text-align: center;
  }
}
.center{text-align: center;}
.liTerminos{list-style:none;}
.MessageText{margin: 5% 0% 5% 0%;}
.bgForm{background-color: $whiteColor;}

.bgMain {
  background-image: url(../src/assets/img/summa/bg/bgMain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  &.bgDatos{
    background-image: url(../src/assets/img/summa/bg/bgDatos.jpg);
  }
  &.bgTerminos{
    background-image: url(../src/assets/img/summa/bg/bgTerminos.jpg);
  }
  &.bgCuentas{
    background-image: url(../src/assets/img/summa/bg/bgCuentas.jpg);  
  }
  &.bgBalance{
    background-image: url(../src/assets/img/summa/bg/bgBalance.jpg);  
  }
}
.summa_main{
  position: relative;
}
.main .container-fluid {
  padding: 50px 120px 0px 100px;
  @media screen and (max-width:$screenMedium){
    padding: 30px;
  }
  @media screen and (max-width:$screenMobile){
    padding: 10px;
  }
}
/*----- MENÚ ------*/
.app-header .navbar-brand {
  width: 200px;
  padding: 0;
}
.nav-link-bb{
  color: $mainPink;
}
.nav-link-bb:hover{
  color: $whiteColor;
  background-color: $mainPink !important;
}
.sidebar .nav-link.active {
  background: $mainPink;
}
.sidebar .nav {
  width: 250px;
}
.sidebar .sidebar-nav {
  width: 250px;
}
.barralateral .nav-link .nav-icon {
  color: $mainPink;
}
.barralateral .nav-link.active .nav-icon {
  background-color: $mainPink;
  color: $whiteColor;
}
.nav-icon:hover{
  color: $whiteColor !important;
}
html:not([dir="rtl"]) .sidebar {
  margin-left: -250px;
}
.navExit{
  width: 250px;
  position:absolute;
  left:0px;
  bottom:0px;
}
.navExit, .fa-sign-out{
  background-color: $mainPink;
  color: $whiteColor !important;
}
.sidebar .sidebar-minimizer {
  color: $whiteColor !important;
  background-color: $mainPink !important;
}
.subMenu{
  color: $whiteColor;
  background-color: $darkGray;
  margin-left: 20px !important;
}
.barralateral .subMenu .nav-link .nav-icon {
  color: $whiteColor;
}
.searchSumma{
  margin: 50px 60px 50px;
  width: $ninety;
  padding: 5px;;
  border-radius: 5px;
  border: .5px solid;
  margin-left: $five;
}

/*------ CUENTAS -----*/
.containerCuentas{
  margin: 0px 40px 0px 40px;
  @media screen and (max-width:$screenMedium){
    margin: 0px 40px 0px 40px;
  }
  @media screen and (max-width:$screenIpad){
    margin: 0px 10px 0px -15px;
  }
  @media screen and (max-width:$screenMobile){
    padding-left: 15px;
  }
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: $whiteColor;
  content: "MXN";
  background-color: $mainPink;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}
.containerDatos{
  border: 1px solid $mainPink;
  background-color: $whiteColor;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  max-width: 47% !important;
  @media screen and (max-width:$screenMobile){
    max-width: 100% !important;
  }
}
.datosCuentas{
  margin-left: 5px;
  width:100% ;
  @media screen and (max-width:$screenMobile){
    margin-left: -37px;
    width: 125%;
  }
  @media screen and (max-width:$screenMobileXs){
    margin-left: -23px;
    width: 125%;
  }
}
.logoPasarela{
  width: 60px;
  vertical-align: middle !important;
  padding: 0px;
}
.logoPasarela2{
  width: 70px;
  vertical-align: middle !important;
  padding: 0px;
}
.imgPasarela{
  margin-left: 0%;
  @media screen and (max-width:$screenMedium){
    margin-left: -10%;
  }
  @media screen and (max-width:$screenMobile){
    width: 360px;
  }
  @media screen and (max-width:$screenMobileXs){
    margin-left: -15%;
  }
}

/*-----TERMINOS Y CONDICIONES ----*/
.tC{
  text-align: justify;
  margin-top: 10px;
  padding: 0px 0px 0px 0px !important;
  @media screen and (max-width:$screenMedium){
    padding: 10px 0px 0px 30px !important;
  }
  @media screen and (max-width:$screenMobile){
    padding: 0px 0px 0px 0px !important;
  }
}
.textTC {
  background-color: $whiteColor;
  height: 700px;
  overflow-y: scroll;
  @media screen and (max-width:$screenMedium){
    height: 800px;
  }  
  @media screen and (max-width:$screenIpad){
    height: 700px;
  }
  @media screen and (max-width:$screenMobile){
    height: 500px;
  }
  @media screen and (max-width:$screenMobileXs){
    height: 300px;
  }
}

/*--DATOS---*/
.containDatos{
  @media screen and (max-width:$screenMedium){
    margin: 0px 40px 0px 45px;
  }
  @media screen and (max-width:$screenIpad){
    margin: 0px 0px 0px 10px;;
  }
  @media screen and (max-width:$screenMobile){
    padding-left: 0px;
  }
}
.docCompleto{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: $warningGreen;
  border-radius: 50%;
  @media screen and (max-width:$screenMedium){
    height: 90%;
  }  
}
.docIncompleto{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: $warningYellow;
  border-radius: 50%;
}
.docVacio{
  display: flex;
  width: 20px;
  height: 20px;
  background-color: $warningPink;
  border-radius: 50%;
}
.infoCardDatos{
  border: 1px solid #E5E0E0;
  padding: 20px !important;
  border-radius: 10px;
  background-color: $whiteColor;
  &.infoFileG{
    border-left: 10px solid  $warningGreen !important;
  }
  &.infoFileY{
    border-left: 10px solid  $warningYellow !important;
  }
  &.infoFileR{
    border-left: 10px solid  $warningPink !important;
  }
}
.infoDoc{
  color: #BFBFBF;
}
.fileImg{
  width: 100px;
}
.InfoDocuments{
  margin-top: 3%;
}
.indicadores {
  width: 45%;
  margin-top: 3%;
  text-align: center;
  @media screen and (max-width:$screenMedium){
    width: 60%;
  }
  @media screen and (max-width:$screenMobile){
    width: 100%;
  }
}

/*-- BALANCE ----*/
.containerBalance{
  @media screen and (max-width:$screenMedium){
    margin: 0px 40px 0px 25px;
  }
  @media screen and (max-width:$screenIpad){
    margin: 0px 50px 0px -15px;
  }
  @media screen and (max-width:$screenMobile){
    padding-left: 15px;
  }
}
.ultimoMov{
    border-bottom: 1px solid gray;
    padding: 15px 0px 15px 20px;
    display: inline;
}
.movimientos{
  align-items: center;
  margin-left: 10%;
  padding: 0px !important;
  margin: 6% !important;
}
.iconMov{
  width: 100%;
  left: -80px;
  @media screen and (max-width:$screenMedium){
    left: 0px;
  }  
}
.textNews{
  text-align: justify;
  margin-top: 30px;
}

.ant-notification .ant-notification-topRight{
  background-color: orchid !important;
}

.fileControls{
  color: $mainPink;
}