
/*---------- GENERALES --------*/
.alfa_footer {
  display: none;
}
.barralateral {
    background-color: $lightGray;
}
.tab-content {
  padding-bottom: $fifteen !important;
}
.title{
  color: $mainPink;
  font-weight: $fontWeight5;
  font-size: $fontFour;
  @media screen and (max-width:$screenMobile){
    text-align: center;
  }
}
.center{
  text-align: center;
}
.liTerminos{list-style:none;}
.btnSec{
  border: 1px solid $mainPink;
  background-color: inherit;
  color: $mainPink;
  font-size: 1rem;
  border-radius: 20px;
  margin: 5%;
  width: 60%;
  padding: 5px;
}
.btnSec:hover{
  background-color: $mainPink;
  color: $whiteColor;
}
.btnMain{
  background-color: $mainPink;
  color: $whiteColor;
  font-size: 1rem;
  border-radius: 20px;
  margin: 5%;
  width: 60%;
  padding: 5px;
}
.btnMain:hover{
  border: 1px solid $mainPink;
  background-color: $lightGray;
  color: $mainPink;
}
.btnGeneral{
  background-color: $mainPink;
  color: $whiteColor;
  font-size: $fontOne;
  border-radius: 10px;
  width: 20%;
  padding: 5px;
}
.btnGeneral:hover{
  border: 1px solid $mainPink;
  background-color: $lightGray;
  color: $mainPink;
}
.MessageText{margin: 5% 0% 5% 0%;}


/*----- MENÚ ------*/
.app-header .navbar-brand {
    width: 200px;
    padding: 0;
}
.nav-link-bb{
  color: $mainPink;
}
.nav-link-bb:hover{
    color: $whiteColor;
    background-color: $mainPink !important;
  }
.sidebar .nav-link.active {
    background: $mainPink;
}
.sidebar .nav {
    width: 250px;
}
.sidebar .sidebar-nav {
    width: 250px;
}
.barralateral .nav-link .nav-icon {
    color: $mainPink;
}
.barralateral .nav-link.active .nav-icon {
    background-color: $mainPink;
    color: $whiteColor;
}
.nav-icon:hover{
    color: $whiteColor !important;
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -250px;
}
.navExit{
    width: 250px;
    position:absolute;
    left:0px;
    bottom:0px;
}
.navExit, .fa-sign-out{
    background-color: $mainPink;
    color: $whiteColor !important;
}

.sidebar .sidebar-minimizer {
    color: $whiteColor !important;
    background-color: $mainPink !important;
}
.subMenu{
    color: $whiteColor;
    background-color: $darkGray;
    margin-left: 20px !important;
}
.barralateral .subMenu .nav-link .nav-icon {
    color: $whiteColor;
}
/*------------------*/
.btnSumma{
  background-color: $mainPink;
  color: $whiteColor;
  font-size: $fontTwo;
  border-radius: 20px;
  margin: $five;
  width: $eighty;
  margin-left: $ten;
  @media screen and (max-width:$screenIpad){
    font-size: $fontTwo;
    width: $eighty;
  }
}
.searchSumma{
  margin: 50px 60px 50px;
  width: $ninety;
  padding: 5px;;
  border-radius: 5px;
  border: .5px solid;
  margin-left: $five;
}
.main .container-fluid {
  padding: 50px 120px 0px 100px;
  @media screen and (max-width:$screenMedium){
    padding: 30px;
  }
  @media screen and (max-width:$screenMobile){
    padding: 10px;
  }
}
.summaMain{
  background-image: url(../src/assets/img/summa/bgSumma.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: bottom;
  position: relative;
  width: $one;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width:$screenMedium){
    background-size:contain;
  }
  @media screen and (max-width:$screenIpad){
    background-position: bottom;
  }
}

/*------ CUENTAS -----*/
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: $whiteColor;
  content: "MXN";
  background-color: $mainPink;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}