
$mainPink: #EC135B;
$darkPink: #8C1C37;
$purple: #8F3CC3;
$darkGray: #616162;
$lightGray: #ECECEC;
$yellow: #FAC32E;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$five: 5%;
$ten: 10%;
$fifteen: 15%;
$twenty: 20%;
$thirty: 30%;
$forty: 40%;
$fifty: 50%;
$sixty: 60%;
$seventy: 70%;
$eighty: 80%;
$ninety: 90%;
$one: 100%;
$fontOne: 0.75rem;
$fontTwo: 1rem;
$fontThree: 1.5rem;
$fontFour: 2rem;
$fontFive: 2.5rem;
$fontSix: 3rem;
$fontSeven: 5rem;
$fontWeight1: 100; 
$fontWeight2: 200; 
$fontWeight3: 300; 
$fontWeight4: 400; 
$fontWeight5: 500; 
$fontWeight6: 600; 
$fontWeight7: 700; 
$fontWeight8: 800; 
$fontWeight9: 900; 
$fontWeightBold: Bold;
$fontWeightLight: Lighter;
$screenMedium: 1024px;
$screenIpad: 768px;
$screenMobile: 414px;
$screenMobileXs: 320px;
